.carrito {
    font-size: 3rem;
    font-family: 'Cinzel', serif;
    text-align: center;
    border-bottom: 0.1rem solid #1c1c1c2f;
    letter-spacing: 1.2rem;
    padding: 6rem;
}

.vacio {
    font-family: 'Cinzel', serif;
    font-size: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20rem;
    margin-bottom: 2.5rem;
}

.volver-tienda {
    font-family: 'Cinzel', serif;
    font-size: 1.4rem;
    text-align: center;
    background-color: #ecebe4;
    border: 2px solid black;
    color: black;
    margin-bottom: 23rem;
}

.volver-tienda:hover {
    background-color: black;
    color: #ecebe4;
}

.container-carrito img {
    width: 200px;
}

.container-carrito {
    font-family: 'Cinzel', serif;
}

.container-carrito button {
    background-color: #1c1c1c;
    color: white;
    margin: 0;
    text-transform: uppercase;
    padding: 1.5rem 1.8rem;
    font-size: 1.4rem;
    height: 5rem;
}

.container-carrito .boton-borrar {
    width: 5rem;
    justify-self: center;
}

.carrito-productos {
    justify-content: space-between;
    display: grid;
    margin-top: 3rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
    gap: 2rem;
    border-bottom: 0.1rem solid #1c1c1c2f;
    padding-bottom: 3rem;
}

.item-titulo,
.item-count,
.item-cant {
    margin: 0;
}

.container-total {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    width: 40rem;
    margin-left: auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.precio-total {
    font-size: 2rem;
    font-weight: bold;
    background-color: #1c1c1c0e;
    padding: 1rem;
}

/* Responsive */

@media (max-width: 720px) {
    .carrito-productos {
        display: block;
        align-items: center;
        margin-inline: 2%;
        margin-bottom: 16rem;
    }

    .carrito-productos .item-titulo {
        border-bottom: 2px solid black;
        margin: 0;
        font-size: 4rem;
        text-align: left;
        margin-top: 5rem;
    }

    .carrito-productos .item-cant {
        text-align: left;
        margin-top: 2rem;
        background-color: #1c1c1c0e;
        padding: 1.5rem 0;
        text-align: center;
    }

    .carrito-productos .item-count {
        text-align: left;
        margin-top: 2rem;
        padding: 1.5rem 0;
        text-align: center;
        background-color: #1c1c1c0e;
    }

    .container-carrito .boton-borrar {
        width: 20%;
        margin-top: 2rem;
        margin-left: 80%;
    }

    .container-carrito img {
        width: 100%;
    }

    .container-total {
        width: 90%;
        margin-inline: 5%;
        margin-top: 10rem;
    }


}