.item-detail-producto {
   justify-content: center;
   flex-wrap: wrap;
   font-family: 'Cinzel', serif;
   text-align: left;
}

.item-detail-contenedor {
   gap: 5rem;
   display:flex;
   justify-content: center;
   align-items: center;
   max-width: 90%;
   margin: auto;
   margin-top: 5rem;
   margin-bottom: 5rem;
}

.item-detail-contenedor img{
   max-width: 38%;
}

.item-detail-contenedor h1{
   border-bottom: 2px solid black;
   margin: 0;
   font-size: 4rem;
}

.item-detail-contenedor h3{
   margin: 2rem 0;
}

.finalizar-compra{
   background-color: #1c1c1c;
    color: white;
    margin: 0;
    text-transform: uppercase;
    padding: 1.5rem 1.8rem;
    font-size: 1.4rem;
    text-decoration: none;
}

.finalizar-compra:hover {
   color: white;
   opacity: 70%;
}

.finalizar-compra:active {
   opacity: 100%;
}

@media (max-width: 900px) { 
   .item-detail-contenedor {
      justify-content: center;
      flex-wrap: wrap;
      font-family: 'Cinzel', serif;
      text-align: left;
      display: flex;
   }

   .item-detail-contenedor img{
      max-width: 100%;
   }
}