.item-detail-producto {
   justify-content: center;
   flex-wrap: wrap;
   font-family: 'Cinzel', serif;
   text-align: left;
}

.item-detail-contenedor {
   margin-top: 5rem;
   margin-bottom: 5rem;
   gap: 5rem;
   display:flex;
   justify-content: center;
   align-items: center;
}

.item-detail-contenedor img{
   max-width: 38%;
}

.item-detail-contenedor h1{
   border-bottom: 2px solid black;
   margin: 0;
   font-size: 4rem;
}


.item-detail-contenedor h3{
   margin: 2rem 0;
}

@media (max-width: 900px) { 
   .item-detail-contenedor {
      justify-content: center;
      flex-wrap: wrap;
      font-family: 'Cinzel', serif;
      text-align: left;
      display: flex;
   }

   .item-detail-contenedor img{
      max-width: 100%;
   }
}