@media (max-width: 720px) {
   #myCarousel {
      display: none;
   }
}

.carousel-item {
   transition: transform 2.3s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
   transition: opacity 0s 2.3s;
}