.footer {
    font-family: 'Cinzel', serif;
    border-top: 1px solid rgba(0, 0, 0, 0.164);
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-between;    
    margin-top: 15rem;
}

.footer-titulo {
    font-size: 2.5rem;
    font-family: 'Aboreto', cursive;
    font-weight: bold;
}

.nosotros .bi{
    color: black;
    margin: 2rem;
    font-size: 2rem;
}

.info .sobre-nosotros a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.432);
}

.tel {
    color: rgba(0, 0, 0, 0.432);
    margin-bottom: 0;
}

.info {
    text-align: left;
    font-size: 1.3rem;
}

.nosotros a:hover {
    opacity: 50%;
}

.info .sobre-nosotros a:hover {
    color: black;
}


/* Responsive */ 
@media (max-width: 720px) { 
    .footer {
        display: block;
    }

    .nosotros {
        margin-top: 3rem;
    }

    .info {
        text-align: center;
        font-size: 1.3rem;
        margin-top: 3rem;
    }
}