.App {
  text-align: center;
  width: min(90%, 140rem);
  margin: 0 auto;
}


html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #ecebe4;
  
}

*,
*:before,
:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 1.6rem;
  line-height: 2;
  background-color: #ecebe4;
}
#root {
  background-color: #ecebe4;
}

.titulo {
  font-size: 3rem;
  margin-top: 6rem;
  font-family: 'Cinzel', serif;
  text-align: left;
  border-bottom:  1.5px solid rgba(0, 0, 0, 0.425);
  width: 28rem;
  letter-spacing: 1.2rem;
}

.categoria {
  font-size: 3rem;
  margin-top: 6rem;
  font-family: 'Cinzel', serif;
}

.loading {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 50%;
    text-align: center;
}

.loading-inicio {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}