.App {
  text-align: center;
  background-color: #ecebe4;
  
}


.App-header {
  min-height: 100vh;
  color: white;
  width: min(90%, 140rem);
    margin: 0 auto;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  
}

*,*:before,:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 1.6rem;
  line-height: 2;
}

