.App {
  text-align: center;
  background-color: #ecebe4;
  width: min(90%, 140rem);
  margin: 0 auto;
  
}

.App-header {
  color: white;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  
}

*,*:before,:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 1.6rem;
  line-height: 2;
  background-color: #ecebe4;
}
