button {
    cursor: pointer;
    padding: 1rem 1.8rem;
    border: none;
    font-family: 'Cinzel', serif;
}

button:hover {
    opacity: 70%;
}

button:active {
    opacity: 100%;
}

.count button {
    background-color: #1c1c1c;
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    padding: 1.3rem 1.8rem;
}


.add {
    background-color: #1c1c1c;
    color: white;
    margin: 0;
    text-transform: uppercase;
    padding: 1.5rem 1.8rem;
    font-size: 1.4rem;
}

.addCart {
    display: grid;
    gap: 1rem;
    font-weight: bold;
    margin-top: 4rem;
    width: 250px;
}

.addCart span {
    padding: 0rem 1.8rem;
    font-size: 1.6rem;
    font-family: 'Cinzel', serif;
    margin: 0;
}

.count span {
    background-color: #1c1c1c;
    padding: 1.4rem 1.8rem;
    color: white;
}

.disponible {
    background-color: rgba(157, 161, 145, 0.295);
    width: 240px;
    padding: 1.3rem 1.8rem;
}


@media (max-width: 1000px) {

    .addCart {
        width: 100%;
        gap: 2rem;
    }

    .disponible {
        width: 73%;
        text-align: center;
    }

    .count button,
    .count span {
        width: 30%;
    }


}